body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-color: #198754;
  padding-bottom: 20px;
}

a {
  color: #00B7FF;
}

p {
  padding: 5%;
  font-size: 32px;
}

p2 {
  padding: 5%;
  font-size: 12px;
}

.card {
  margin: 0 auto; 
  float: none; 
  margin-left: 25%;      
  margin-right: 25%;
  margin-top: 5px;
  margin-bottom: 5px;
}

textarea{
  resize: none;
  background: none;
  border: none;
  margin-top: 5px;
  margin-bottom: 10px;
  outline: 0;
}

.fa-edit:hover{
color: #198754c9
}

.fa-trash-alt:hover{
color: #198754c9;
}

.form-control::placeholder {
  color: #198754;
}
