<div ng-controller="AdminTicketController">

    <head>
        <title>{{vm.pageHeader.title}}</title>
    </head>
    <div class="container bg-dark" style="min-height: 100vh;">
        <div class="row">
            <div class="col ">
                <h2 class="text-center text-success" style="text-decoration: underline;">Pending Tickets</h2>
                <div class="block content">
                    <div ng-repeat="ticket in vm.tickets">
                        <div class="card text-success bg-dark mb-3 border border-success"
                            ng-show="!ticket.resolved && ticket.assignedTo.userEmail==''">
                            <div class="card-body">
                                <!-- Blog title -->
                                <h5 class="card-title" style="text-decoration: underline;">{{ticket.title}}</h5>
                                <!-- Blog text -->
                                <p class="card-text">{{ticket.details}}</p>
                                <!-- Blog creation date -->
                                <p class="card-text2" style="font-size: 12px">Ticket Created by:
                                    {{ticket.createdBy.name}} on {{ticket.createdOn | date : 'MMM d, y h:mm a' }}</p>
                                <!-- Edit and delete buttons -->
                                <ul class="nav justify-content-end nav-pills card-header-pills text-primary">
                                    <li class="nav-item">
                                        <!-- Edit button -->
                                    <li class="nav-item">
                                        <!-- Edit button -->
                                        <a ng-show="vm.isLoggedIn()" class="nav-link" style="color: #198754;"
                                            ng-href="/assign/{{ticket._id}}"><i
                                                class="fas fa-regular fa-address-card"></i></a>
                                    </li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h2 class="text-center text-success" style="text-decoration: underline;">Assigned Tickets</h2>
                <div class="block content">
                    <div ng-repeat="ticket in vm.tickets">
                        <div class="card text-success bg-dark mb-3 border border-success"
                            ng-show="!{{ticket.resolved}} && {{ticket.assignedTo.userEmail!=''}}">
                            <div class="card-body">
                                <!-- Blog title -->
                                <h5 class="card-title" style="text-decoration: underline;">{{ticket.title}}</h5>
                                <!-- Blog text -->
                                <p class="card-text">{{ticket.details}}</p>
                                <!-- Blog creation date -->
                                <p class="card-text2" style="font-size: 12px">Ticket assigned to:
                                    {{ticket.assignedTo.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h2 class="text-center text-success" style="text-decoration: underline;">Resolved Tickets</h2>
                <div class="block content">
                    <div ng-repeat="ticket in vm.tickets">
                        <div class="card text-success bg-dark mb-3 border border-success" ng-show="{{ticket.resolved}}">
                            <div class="card-body">
                                <!-- Ticket title -->
                                <h5 class="card-title" style="text-decoration: underline;">{{ticket.title}}</h5>
                                <!-- Ticket text -->
                                <p class="card-text">{{ticket.details}}</p>
                                <!-- Ticket creation date -->
                                <p class="card-text2" style="font-size: 12px">Ticket Created by:
                                    {{ticket.createdBy.name}} on {{ticket.createdOn | date : 'MMM d, y h:mm a' }}</p><br>
                                    <!-- Ticket resolve date -->
                                <p class="card-text2" style="font-size: 12px">Ticket Resolved by:
                                    {{ticket.assignedTo.name}} on {{ticket.resolvedOn | date : 'MMM d, y h:mm a' }}</p>
                                <a ng-Href="/UserTicket/{{ticket._id}}" class="nav-link" style="color: #198754;"><i
                                        class="fas fa-regular fa-edit" Style="float:right;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>